{% extends 'base.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block title %}Harvest{% endblock title %}
{% block content %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="m-0">Harvested Crop</h4>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ul class="breadcrumb float-sm-right">
            <li><a class="btn btn-primary" data-toggle="modal" data-target="#createCropModal">Add</a></li>
            <!-- Create Crop Modal -->
            <div class="modal fade" id="createCropModal" tabindex="-1" role="dialog" aria-labelledby="createCropModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="createCropModalLabel">Create Crop</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="modal-body">
                      <form method="post">
                        {% csrf_token %}
                        <div class="card-body mb-1">
                          {{yield_form}}
                        </div>
                        <button type="submit" class="btn btn-primary float-right">Submit</button>
                        <!-- /.card-body -->
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </ul>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            {% load custom_filters %}
            <div class="card card-body">
              <form method="GET" action="" class="form-inline mb-2">
                <div class="form-group">
                    <label for="category" class="mr-2">Filter by Category:</label>
                    <select id="category" name="category" class="form-control mr-2">
                        <option value="">All Categories</option>
                        {% for category in all_categories %}
                            <option value="{{ category.name }}" {% if category.name == selected_category %}selected{% endif %}>{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Filter</button>
              </form>
              <table class="table table-bordered table-hover">
                  <thead>
                  <tr class="bg-success">
                    <th><a href="{% url 'category' %}" style="color: white;">VARIETY<br><br></a></th>
                      <th>DATE <br><br></th>
                      <th>NUMBER OF PINEAPPLES<br>HARVESTED</th>
                      <th style="text-align: center;">ACTION<br><br></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for yield in bad_quality %}
                  <tr>
                    {% if request.user.is_staff %}
                    <td><a href="{% url 'category' %}" style="color: black;">{{yield.category}}</a></td>
                    {% else %}
                    <td>{{yield.category}} </td>
                    {% endif %}
                    <td>{{yield.harvest_date}}</td>
                    <td>{{yield.number_yield|format_number}}</td>
                    <td style="text-align: center;">
                      <div class="">
                        <a class="btn" href="{% url 'bad_pine_update' yield.id %}"><i class='fas fa-edit'></i></a>
                        <button class="btn delete-yield" data-toggle="modal" data-target="#deleteYieldModal" data-yield-id="{{ yield.id }}"><i class="fa fa-trash" style="color: red;"></i></button>
                      </div>
                    </td>
                    
                    <!-- Delete Yield Modal -->
                    <div class="modal fade" id="deleteYieldModal" tabindex="-1" role="dialog" aria-labelledby="deleteYieldModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content bg-dark">
                          <div class="float-right p-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="text-center">
                            <h4>The all stored data on this crop will permanently deleted, are you sure you to continue?</h4>
                          </div>
                          <div class="text-right p-3">
                            <form id="deleteYieldForm" method="post">
                              {% csrf_token %}
                              <input type="hidden" id="yieldId" name="yield_id">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>

                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  </tfoot>
              </table>
              </div>
        </div>
    </div>
</section>
{% if request.user.is_staff %}
<!-- <canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 400px; max-width: 100%;"></canvas> -->
{% endif %}
<script>
  $(document).ready(function () {
    // Handle delete button click
    $(".delete-yield").click(function () {
      var yieldId = $(this).data("yield-id");

      // Set the value of the hidden input field in the modal
      $("#yieldId").val(yieldId);

      // When the "Delete" button in the modal is clicked
      $("#deleteYieldForm").submit(function (event) {
        event.preventDefault(); // Prevent the form from submitting normally

        $.ajax({
          url: "{% url 'yield_delete' 0 %}".replace("0", yieldId), // Use your URL pattern for yield_delete
          method: "POST",
          data: $(this).serialize(), // Serialize the form data
          success: function (response) {
            // Handle the success response if needed
            $("#deleteYieldModal").modal("hide"); // Close the modal
            // Reload or update the table as needed
            // You can use AJAX to update the table without a full page reload
            location.reload(); // Reload the page to reflect changes
          },
          error: function (error) {
            console.error("Error deleting yield:", error);
          },
        });
      });
    });
  });
</script>
<script>
  var areaChartCanvas = $('#areaChart').get(0).getContext('2d');

  var areaChartData = {
      labels: [
          {% for yield_data in hawaii_yields %}
              '{{ yield_data.harvest_date|date:"F Y" }}', // Format as 'Month Year'
          {% endfor %}
      ],
      datasets: [
          {
              label: 'Hawaii Yield',
              backgroundColor: 'rgba(60,141,188,0.9)',
              borderColor: 'rgba(60,141,188,0.8)',
              pointRadius: false,
              pointColor: '#3b8bba',
              pointStrokeColor: 'rgba(60,141,188,1)',
              pointHighlightFill: '#fff',
              pointHighlightStroke: 'rgba(60,141,188,1)',
              data: [
                  {% for yield_data in hawaii_yields %}
                      {{ yield_data.total_yield }},
                  {% endfor %}
              ]
          },
          {
              label: 'Pormosa Yield',
              backgroundColor: 'rgba(210, 214, 222, 1)',
              borderColor: 'rgba(210, 214, 222, 1)',
              pointRadius: false,
              pointColor: 'rgba(210, 214, 222, 1)',
              pointStrokeColor: '#c1c7d1',
              pointHighlightFill: '#fff',
              pointHighlightStroke: 'rgba(220,220,220,1)',
              data: [
                  {% for yield_data in pormosa_yields %}
                      {{ yield_data.total_yield }},
                  {% endfor %}
              ]
          }
      ]
  };

  var areaChart = new Chart(areaChartCanvas, {
      type: 'line',
      data: areaChartData,
      options: {
          // Customize chart options here
      }
  });

  // Bar chart
  var barChartCanvas = $('#barChart').get(0).getContext('2d');

    var barChartData = {
        labels: [
            {% for yield_data in hawaii_yields %}
                '{{ yield_data.harvest_date|date:"F Y" }}', // Format as 'Month Year'
            {% endfor %}
        ],
        datasets: [
            {
                label: 'Hawaii Yield',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                data: [
                    {% for yield_data in hawaii_yields %}
                        {{ yield_data.total_yield }},
                    {% endfor %}
                ]
            },
            {
                label: 'Pormosa Yield',
                backgroundColor: 'rgba(210, 214, 222, 1)',
                borderColor: 'rgba(210, 214, 222, 1)',
                data: [
                    {% for yield_data in pormosa_yields %}
                        {{ yield_data.total_yield }},
                    {% endfor %}
                ]
            }
        ]
    };

    var barChart = new Chart(barChartCanvas, {
        type: 'bar', // Use 'bar' for a bar chart
        data: barChartData,
        options: {
            // Customize chart options here
        }
    });

    // stackedbarchart
    var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d');

    var stackedBarChartData = {
        labels: [
            {% for yield_data in hawaii_yields %}
                '{{ yield_data.harvest_date|date:"F Y" }}', // Format as 'Month Year'
            {% endfor %}
        ],
        datasets: [
            {
                label: 'Hawaii Yield',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                data: [
                    {% for yield_data in hawaii_yields %}
                        {{ yield_data.total_yield }},
                    {% endfor %}
                ],
                stack: 'stack'
            },
            {
                label: 'Pormosa Yield',
                backgroundColor: 'rgba(210, 214, 222, 1)',
                borderColor: 'rgba(210, 214, 222, 1)',
                data: [
                    {% for yield_data in pormosa_yields %}
                        {{ yield_data.total_yield }},
                    {% endfor %}
                ],
                stack: 'stack'
            }
        ]
    };

    var stackedBarChart = new Chart(stackedBarChartCanvas, {
        type: 'bar',
        data: stackedBarChartData,
        options: {
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true,
                }
            },
            // Customize other chart options here
        }
    });
</script>



{% endblock content %}