{% extends 'base.html' %}
{% block title %}Revenues{% endblock title %}
{% block content %}
{% load static %}
{% load custom_filters %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Harvested Crop</h3>
       </div>
       <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="{% url 'har_high_quality' %}">High Quality</a></li>
            <li class="breadcrumb-item"><a href="{% url 'har_poor_quality' %}">Low Quality</a></a></li>
            <li class="breadcrumb-item">Rejected</li>
          </ol>
        </div>
    </div><!-- /.container-fluid -->
    </div>
    {% include 'crop_yield/harvest/harv_con_head.html' %}
  </div>
  <div class="col-md-12">
    <div class="tile">
        <div class="tile-body">
            <div class="table-responsive">
                <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                                <thead>
                                    <tr role="row" class="bg-danger">
                                        <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Variety</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Total Number</th>
                                        <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Date</th>
                                        <!-- <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                  {% for year, harvesteds_by_year in rejected_pines_by_year.items %}
                                  {% for harv_rej in harvesteds_by_year %}
                                        <tr role="row" class="odd">
                                            <td class="sorting_1">{{ harv_rej.category }}</td>
                                            <td>{{ harv_rej.total_number|format_number }}</td>
                                            <td>{{ harv_rej.date }}</td>
                                            <!-- <td><a class="{btn}" href="{% url 'rejected_pines_update' harv_rej.id %}"><i class='fas fa-edit'></i></a></td> -->
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  <script>
    function updateHarvestChart() {
        $.ajax({
            url: '{% url "get_harvest_chart_data" %}',
            method: 'GET',
            dataType: 'json',
            success: function(data) {
                barChart.data.labels = data.years;
                barChart.data.datasets[0].data = data.harvested_rejected_data;
                barChart.update();
            },
            error: function(error) {
                console.log('Error fetching data:', error);
            }
        });
    }

    var barChartCanvas = $('#harvestbarChart').get(0).getContext('2d');

    var barChartData = {
        labels: [
            // {% for year, totals in totals_by_year.items %}
            //     '{{ year }}',
            // {% endfor %}
        ],
        datasets: [
            
            {
                label: 'Rejected',
                backgroundColor: 'rgba(255, 0, 0, 0.7)',
                borderColor: 'rgba(255, 0, 0, 0.7)',
                data: [
                    // {% for year, totals in totals_by_year.items %}
                    //     {{ totals.harvested_rejected_total }},
                    // {% endfor %}
                ],
            },
            
        ]
    };

    var barChart = new Chart(barChartCanvas, {
        type: 'bar',
        data: barChartData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: true,
                    position: 'top'
                },
                title: {
                    display: true,
                    text: 'Yearly Totals'
                }
            }
        }
    });

    setInterval(updateHarvestChart, 1000);

    // SORTING TABLE
</script>
<script>
    // sorting table
    $(document).ready(function() {
        $('#sampleTable').DataTable({
            "order": [[2, 'dec']]
        });
    });
</script>
    
    <!-- <script>
        $(document).ready(function () {
          // Handle delete button click
          $(".delete-crop").click(function () {
            var cropId = $(this).data("crop-id");
            
            // When the "Delete" button in the modal is clicked
            $("#confirmDelete").click(function () {
              $.ajax({
                url: "{% url 'bidder_win_list_delete' 0 %}".replace("0", cropId), // Use your URL pattern for crop_delete
                method: "POST",
                data: {
                  csrfmiddlewaretoken: "{{ csrf_token }}",
                  // Add any other data you need to send here
                },
                success: function (response) {
                  // Handle the success response if needed
                  // For example, you can remove the deleted row from the table
                  $("#deleteCropModal").modal("hide"); // Close the modal
                  // Reload or update the table as needed
                  // You can use AJAX to update the table without a full page reload
                  location.reload(); // Reload the page to reflect changes
                },
                error: function (error) {
                  console.error("Error deleting crop:", error);
                },
              });
            });
          });
        });
      </script> -->
{% endblock content %}