{% extends 'base.html' %}
{% load static %}
{% block title %}List of Winners From Bidding{% endblock title %}
{% block content %}
{% load custom_filters %}
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">List of Winners From Bidding</h1>
          <h5 style="font-style: italic;">(Low-Quality)</h5>
       </div>
       <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'bidder_win_list' %}">High Quality</a></li>
          <li class="breadcrumb-item active">Low Quality</li>
          <li class="breadcrumb-item"><a href="{% url 'bidder_win_lis_rejected' %}">Rejected</a></li>
        </ol>
      </div>
    </div><!-- /.container-fluid -->
  </div>
<div class="col-md-12">
  <div class="tile">
      <div class="tile-body">
          <div class="table-responsive">
              <div id="sampleTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                  <div class="row">
                      <div class="col-sm-12">
                        <table class="table table-hover table-bordered dataTable no-footer" id="sampleTable" role="grid" aria-describedby="sampleTable_info">
                            <thead>
                                <tr role="row" class="bg-secondary">
                                    <th class="sorting_asc" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Username</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Full Name</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Variety</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Bid Price</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Total Number</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Total Price Buy</th>
                                    <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Date</th>
                                    <!-- <th class="sorting" tabindex="0" aria-controls="sampleTable" rowspan="1" colspan="1"  style="width: 102.141px;">Action</th> -->
                                </tr>
                            </thead>
                            <tbody>
                              {% for year, harvesteds_by_year in harvested_bad_by_year.items %}
                              {% for harv_bad in harvesteds_by_year %}
                                    <tr role="row" class="odd">
                                        <td>{{ harv_bad.user }}</td>
                                        <td>{{ harv_bad.user.get_full_name }}</td>
                                        <td class="sorting_1">{{ harv_bad.category }}</td>
                                        <td>₱ {{ harv_bad.price }}</td>
                                        <td>{{ harv_bad.total_number|format_number }} pcs.</td>
                                        <td>₱ {{ harv_bad.total|format_number }}</td>
                                        <td>{{ harv_bad.date }}</td>
                                        <!-- <td><a class="btn" href="{% url 'harvest_bad_update' harv_bad.id %}"><i class='fas fa-edit'></i></a></td> -->
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

</div>
<script>
  $(document).ready(function () {
    // Handle delete button click
    $(".delete-crop").click(function () {
      var cropId = $(this).data("crop-id");
      
      // When the "Delete" button in the modal is clicked
      $("#confirmDelete").click(function () {
        $.ajax({
          url: "{% url 'bidder_win_list_delete' 0 %}".replace("0", cropId), // Use your URL pattern for crop_delete
          method: "POST",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            // Add any other data you need to send here
          },
          success: function (response) {
            // Handle the success response if needed
            // For example, you can remove the deleted row from the table
            $("#deleteCropModal").modal("hide"); // Close the modal
            // Reload or update the table as needed
            // You can use AJAX to update the table without a full page reload
            location.reload(); // Reload the page to reflect changes
          },
          error: function (error) {
            console.error("Error deleting crop:", error);
          },
        });
      });
    });
  });
</script>
<script>
  // sorting table
  $(document).ready(function() {
      $('#sampleTable').DataTable({
          "order": [[2, 'dec']]
      });
  });
</script>
{% endblock content %}
