{% extends 'home.html' %}
{% block title %}
Login
{% endblock title %}
{% block content %}
<div class="masthead loginPage">
  <div class="loginBox">
    <!-- /.login-logo -->
    <!-- {% if messages %}
            <div class="messages-container">
              <ul class="messages">
                {% for message in messages %}
                  <div class="alert alert-outline-primary alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
              </ul>
            </div>
    {% endif %} -->
    <div class="card card-success">
      <div class="card-header text-center">
        <div class="float-right">
          <!-- <a href="{% url 'home' %}">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a> -->
        </div>
        <!-- <a href="#" class="h1">Login</a> -->
      </div>
      <div class="card-body">
        <!-- <p class="login-box-msg">Sign in to start your session</p> -->

        <form method="post" class="form">
          {% csrf_token %}
          <!-- {{ form.new_password1.label_tag }} -->
          {{ form.new_password1 }}
          <br>
          <!-- {{ form.new_password2.label_tag }} -->
          {{ form.new_password2 }}
          <br>
          <div class="col-12 mb-2">
            <button type="submit" class="btn btn-success btn-block btn-oval" style="border-radius: 20px 20px 20px 20px;">continue</button>
          </div>
          <div class="col-12 mb-0">
            <a href="{% url 'login' %}" class="btn btn-primary btn-block btn-oval" style="border-radius: 20px 20px 20px 20px;">back</a>
          </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<script>
  // Automatically close messages after 5 seconds
  $('.messages-container .alert').delay(10000).slideUp(500);
</script>
{% endblock content %}