{% extends 'home.html' %}
{% block title %}
Resset Password
{% endblock title %}
{% block content %}
<div class="masthead loginPage">
  <div class="loginBox">
    <div class="card" style="width: 370px; height: 250px;">
      <div class="card-header text-center">
        <div class="float-right">
          <a href="{% url 'login' %}">
            <button type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
        </div>
      </div>
      <div class="card-body">
        <!-- <p class="login-box-msg">Sign in to start your session</p> -->

        <!-- <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;<strong>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don’t receive an email, 
          please make sure you’ve entered the address you registered with.</strong> -->
          <p style="text-align: justify;">&nbsp;&nbsp;&nbsp;&nbsp;<strong>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don’t receive an email, 
            please make sure you’ve entered the address you registered with.</strong>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
<script>
  // Automatically close messages after 5 seconds
  $('.messages-container .alert').delay(10000).slideUp(500);
</script>
{% endblock content %}