<!-- {% if request.user.is_staff %}
<footer class="main-footer py-5">
  <div class="container px-4 px-lg-5"><div class="large text-center text-muted">Copyright &copy; 2023 - <a href="/">ePine: Online Crop and Yield Management System</a>.All rights Reserved</div></div>
</footer>
{% else %}
<footer class="py-5">
  <div class="container px-4 px-lg-5"><div class="large text-center text-muted">Copyright &copy; 2023 - <a href="/">ePine: Online Crop and Yield Management System</a>.All rights Reserved</div></div>
</footer>
{% endif %} -->